{{- $url := urls.Parse .Destination -}}
{{- $alt := .Text | plainify -}}
<figure{{ with .Attributes.class }} class="{{ . }}"{{ end }}>
  {{- if $url.IsAbs }}
  <img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ $alt }}"{{ with .Title }} title="{{ . }}"{{ end }}>
  {{- else }}
    {{- $resourcePath := strings.TrimPrefix "./" .Destination }}
    {{- with .Page.Resources.GetMatch $resourcePath }}
      {{- if strings.HasPrefix .MediaType.Type "image/" }}
        <img loading="lazy" decoding="async" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $alt }}"{{ with $.Title }} title="{{ . }}"{{ end }}>
      {{- else }}<a href="{{ .RelPermalink }}">{{ $alt }}</a>{{ end }}
    {{- else }}<img loading="lazy" src="{{ .Destination | safeURL }}" alt="{{ $alt }}">{{ end }}
  {{- end }}
  {{- with .Title }}<figcaption>{{ . }}</figcaption>{{ end }}
</figure>
